﻿    <actions>
        <button id='clear-data' title='Create a set of 1000 random loan applications'>
            <b>⚊</b> Clear All Data
        </button>
        <button id='seed-data' title='Create a set of 1000 random loan applications'>
            <b>❖</b> Seed Data
        </button>
        <button id='go-create' title='Add a new loan application to the list'>
            <b>✚</b> Create Application
        </button>
    </actions>