﻿
<applications>
    <table>
        <tbody>
        </tbody>
    </table>
    <nonecreated>
        It looks like we don't have any applications saved.
        <br />
        <a id='go-create-ii' href='#'>Create a new one</a> or <a id='seed-data-ii' href='#' title='Generate random loan applications'>seed one thousand random records</a> in the database.
    </nonecreated>
    <message></message>
</applications>