﻿@model Amount.CodeExercise.Core.Models.Shared.ValidationParameters
<create>
    <nav>
        <step class='person' data-target='person'>Person Details</step>
        <accent>❱</accent>
        <step class='org' data-target='org'>Organization Details</step>
        <accent>❱</accent>
        <step class='loan' data-target='loan'>Loan Details</step>
    </nav>
    @Html.Partial("Partials/Create/_person", Model)
    @Html.Partial("Partials/Create/_organization",Model)
    @Html.Partial("Partials/Create/_loan",Model)
</create>