﻿
<search>
    <row>
        <field>
            <label>Search in</label>
            <select id='adv-field' data-action='search'>
            </select>
        </field>
        <textsearch>
            <field>
                <label>for text</label>
                <input type='text' spellcheck='false' id='keyword' data-action='search' />
            </field>
        </textsearch>
        <numericsearch>
            <field>
                <label>Exact</label>
                <input type='number' id='adv-exact' data-action='search' />
            </field>
            <field>
                <label>Minimum</label>
                <input type='number' id='adv-min' data-action='search' />
            </field>
            <field>
                <label>Maximum</label>
                <input type='number' id='adv-max' data-action='search' />
            </field>
        </numericsearch>
    </row>
@*    <row>
        <field>
            <label>&nbsp;</label>
            <button id='go-search'>Search</button>
        </field>
        <field>
            <label>&nbsp;</label>
            <button id='go-clear'>Clear</button>
        </field>
    </row>*@
</search>