﻿<sort>
    <row>
        <field>
            <label>Order By</label>
            <select id='sort-field' data-action='sort' value='RiskRating'>

            </select>
        </field>
        <field>
            <label>Direction</label>
            <select id='sort-direction' data-action='sort'>
                <option value='asc'>
                    Ascending
                </option>
                <option value='desc'>
                    Descending
                </option>
            </select>
        </field>
    </row>
</sort>