﻿@model Amount.CodeExercise.Core.Models.Shared.ValidationParameters

<loan class='panel'>
    <h2>Loan Details</h2>
    <form name='loan'>
        <field>
            <label for='requested-amount'>
                Requested Amount
            </label>
            <input type='number' id='requested-amount' name='requestedAmount' min='@Model.RequestedAmountMin' max='@Model.RequestedAmountMax' step='.01' required />
        </field>
        <field>
            <label for='term'>
                Term (in months)
            </label>
            <input type='number' id='term' name='term' min='@Model.TermMin' max='@Model.TermMax' step='1' required />
        </field>
        <field>
            <label for='annual-percentage-rate'>
                Annual Percentage Rate
            </label>
            <input type='number' id='annual-percentage-rate' name='annualPercentageRate' min='@Model.AnnualPercentageRateMin' max='@Model.AnnualPercentageRateMax' step='.01' required />
        </field>

        <input type='hidden' id='loan-id' name='loanId' value='0' />

        <field class='actions'>
            <button class='retreat'>Cancel</button>
            <input type='submit' value='SUBMIT' />
        </field>
    </form>
</loan>