﻿@model Amount.CodeExercise.Core.Models.Shared.ValidationParameters

<organization class='panel'>
    <h2>Organization  Details</h2>
    <form name='organization'>
        <field>
            <label for='organization-name'>
                Organization Name
            </label>
            <input type='text' spellcheck='false' id='organization-name' name='organizationName' minlength='@Model.OrganizationNameMin' maxlength='@Model.OrganizationNameMax' />
        </field>
        <field>
            <label for='employee-identification-number'>
                Employee Identification Number / Federal Tax Id
            </label>
            <input type='number' id='employee-identification-number' name='employeeIdentificationNumber' min='@Model.TaxIdMin' max='@Model.TaxIdMax' required />
        </field>
        <field>
            <label for='revenue'>
                Annual Revenue
            </label>
            <input type='number' id='revenue' name='revenue' min='@Model.RevenueMin' max='@Model.RevenueMax' step='.01' />
        </field>
        <field>
            <label for='credit-rating'>
                Credit Rating
            </label>
            <input type='number' id='credit-rating' name='creditRating' min='@Model.CreditRatingMin' max='@Model.CreditRatingMax' step='1' required />
        </field>
        <field>
            <label for='outstanding-debt'>
                Outstanding Debt
            </label>
            <input type='number' id='outstanding-debts' name='outstandingDebt' min='@Model.OutstandingDebtMin' max='@Model.OutstandingDebtMax' step='.01' required />
        </field>
        <field>
            <label for='recent-defaults'>
                Defaults (in last five years)
            </label>
            <input type='number' id='recent-defaults' name='recentDefaults' min='@Model.RecentDefaultsMin' max='@Model.RecentDefaultsMax' step='1' required />
        </field>
        <field class='actions'>
            <button class='retreat'>Cancel</button>
            <input type='submit' value='NEXT ❱❱' />
        </field>
    </form>
</organization>