﻿
@model Amount.CodeExercise.Core.Models.Shared.ValidationParameters

<person class='panel'>
    <h2>Person Details</h2>
    <form name='person'>
        <field>
            <label for='first-name'>
                First Name
            </label>
            <input type='text' spellcheck='false' id='first-name' name='signerFirstName' minlength='@Model.PersonNameMin' maxlength='@Model.PersonNameMax' required />
        </field>
        <field>
            <label for='last-name'>
                Last Name
            </label>
            <input type='text' spellcheck='false' id='last-name' name='signerLastName' minlength='@Model.PersonNameMin' maxlength='@Model.PersonNameMax' required />
        </field>
        <field>
            <label for='date-of-birth'>
                Date of Birth
            </label>
            <input type='date' id='date-of-birth' name='signerDateOfBirth' min='@Model.DateOfBirthMin' max='@Model.DateOfBirthMax' required />
        </field>
        <field>
            <label for='social-security-number'>
                Social Security Number
            </label>
            <input type='number' id='social-security-number' name='signerSocialSecurityNumber' min='@Model.SocialSecurityNumberMin' max='@Model.SocialSecurityNumberMax' required />
        </field>
        <field class='actions'>
            <button class='retreat'>Cancel</button>
            <input type='submit' value='NEXT ❱❱' />
        </field>
    </form>
</person>