﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Loan Applicants";
}

<main>
    @Html.Partial("Partials/_actions")
    <row>        
        @Html.Partial("Partials/_search")
        @Html.Partial("Partials/_sort")
    </row>
    @Html.Partial("Partials/_applications")
    @Html.Partial("Partials/_create",Model.Validations)
    @Html.Partial("Partials/_error")
</main>
<spinner>
    @Html.Partial("Partials/_loading")
</spinner>