﻿html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body {
    padding: 2%;
    width: 95%;
}

body, main, form {
    display: flex;
    flex-direction: column;
}

actions.active {
    margin: 0 0 40px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.7);
}

form {
    padding-bottom: 20px;
}

h1 left {
    color: rgba(0,0,0,.7);
}

h1 right {
    color: rgba(255,69,0,.7);
}

    h1 left::before, h1 right::before {
        color: rgba(0,121,221,.5);
        content: '[';
    }

    h1 left::after, h1 right::after {
        color: rgba(0,121,221,.5);
        content: ']';
    }

h1 middle::before {
    content: '.'
}

.active {
    display: initial;
}

table.active {
    display:table;
}

create, person, organization, loan, actions, search, sort, error {
    display: none;
}

main {
    z-index: 1;
    width:1199px;
}

applications {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width:100%;
}
    applications table, applications table tbody {
        width: 100%;
    }

actions.active, nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

input, select, textarea, button {
    font-family: 'Roboto Mono', monospace;
}

spinner {
    position: fixed;
    padding-top: 344px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(255,255,255,.7);
    display: none;
}

nonecreated, applications table {
    display: none;
}

create, error {
    position: fixed;
    /*  top:10%;
  left:10%;
  right:10%;*/
    min-height: 40%;
    box-shadow: 0 0 999px 999px rgba(0,0,0,.25);
    z-index: 3;
    padding:20px;
    background: white;
}

    create nav {
        padding: 10px;
    }

nav step {
    width: max-content;
    margin: 0 5px;
    padding: 5px;
    background: rgba(0,121,221,.09);
    border-radius: 4px;
    text-transform: uppercase;
}

    nav step.active {
        background: rgba(0,121,221,.49);
        color: white;
    }

    nav step:hover {
        cursor: pointer;
    }

field {
    display: flex;
    flex-direction: column;
    padding: 9px;
}

    field input, field select {
        padding: 5px;
        outline: none;
        border: 1px solid rgba(25,81,144,.36);
        background: rgba(196,144,81,.09);
    }

create input, create select {
    width: 300px;
}


a, a:visited {
    text-decoration: none;
    color: steelblue;
}

input[type=submit], button {
    outline: none;
    background: linear-gradient(270deg,rgba(0,121,221,.6),rgba(0,121,221,.7));
    box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
    border: 1px solid rgba(0,121,221,.25);
    color: white;
    width: max-content;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 4px;
    width: max-content;
    height: 30px;
    line-height: 20px;
}

    button:active {
        outline: none;
    }

    input[type=submit]:hover, button:hover {
        cursor: pointer;
    }

create h2 {
    font-weight: 100;
}

create button.retreat {
    background: rgba(196,144,81,.19);
    color: black;
}

accent {
    line-height: 30px;
    font-size: 24px;
    color: orangered;
}

applications table {
    font-size: 11px;
}

    applications table tr {
        padding: 3px;
    }

tr.top th {
    background: rgba(0,0,0,.7);
    color: white;
}

.edit:hover, .delete:hover {
    cursor: pointer;
    color: orangered;
}



row {
    position:relative;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:normal;
    justify-content:space-between;
    flex-wrap:wrap;
}
search {
    position:relative;
}
search::before {
    content:'Search / Filter Records';
    position:absolute;
    top: -15px;
    border-bottom: 1px solid rgba(0,0,0,.7);
}
search label {
    font-size: 12px;
    text-transform:uppercase;
}
numericsearch.active {
    display:flex;
}
numericsearch input {
    max-width:121px;
}
sort {
    position: relative;
    background: rgba(0,0,0,.7);
    border-radius:4px;
}
    sort label {
        font-size: 12px;
        text-transform: uppercase;
        color: white;
    }
    sort input, sort select {
        background: rgba(255,249,238,.91);
    }
applications search, advanced {
    padding: 5px 0 20px 0;
    display: flex;
    flex-direction: row;
    position: relative;
}
th {
    position: relative;
}
th,td{
    padding: 2px;
}
    th.active {
        color: rgba(0,121,221,1);
        border-bottom: 2px solid rgba(0,121,221,1);
    }

th:hover{
    cursor:pointer;
    color:orangered;
    transition-duration:1s;
}

textsearch,numericsearch {
    display:none;
}
button {
    height:30px;
    max-height:30px;
    margin: 0 10px;
    position:relative;
}
actions button {
    padding-left: 30px;
}
button b {
    position: absolute;
    left: 5px;
    top: 3px;
    font-size: 20px;
}
    button:hover {
        background: linear-gradient(270deg,rgba(0,121,196,.7),rgba(0,121,196,.7));
        transition-duration:1s;
    }

applications message {
    position: fixed;
    bottom: -150px;
    left: 33%;
    right: 33%;
    width: 33%;
    text-align: center;
    height: 50px;
    background: rgba(0,0,0,.7);
    line-height: 50px;
    color: white;
    transition-duration: 1s;
}

applications message.active {
    bottom:50px;
    transition-duration:1s;
}

message button {
    position:absolute;
    right:2px;
    top:2px;
    font-size:12px;
    background:none;
    color:white;
    outline: none;
    border:none;
    box-shadow:none;
}
button box {
    margin-top:-2px;
    color:white;
    font-weight:900;
}
field.actions {
    flex-direction: row;
    justify-content: space-between;
}

tr.top th:hover{
    cursor:default!important;
}

th.active.asc::after {
    content: '▲';
    position:absolute;
    right:-10px;
}
th.active.desc::after {
    content: '▼';
    position: absolute;
    right: -10px;
}