﻿<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>@ViewData["Title"] - Amount.CodeExercise.Web</title>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;600;700&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='~/css/style.css' />
</head>
<body>
    <h1>
        <left>amount</left><middle></middle><right>code exercise</right>
    </h1>
    @RenderBody()
    <script src='~/js/ui.js' type='module' asp-append-version='true'></script>
</body>
</html>